.navbar {
    background-color: #121212;
    padding: 1rem 0;
}

.navbar-toggler {
    border-color: #00aaff;
    color: #00aaff;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 170, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: #00aaff;
    transition: color 0.3s ease-in-out;
    
    &:hover {
        color: #0077cc;
    }
}

.navbar-nav .nav-link {
    color: #ffffff;
    transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
    color: #00aaff;
}

body {
    background-color: #121212;
    color: #ffffff;
}

.nav-link {
    color: #ffffff;
    
    &:hover {
        color: #00aaff;
    }
}