.card {
    background-color: #1f1f1f;
    border: none;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    text-align: center;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.card-title {
    color: #00aaff;
    /* Albastru pentru titlurile proiectelor */
}

.card-text {
    color: #ffffff;
    /* Alb pentru descrierea proiectelor */
}

.card-text a {
    color: #00aaff;
    /* Albastru pentru linkuri */
}

body {
    background-color: #121212;
    color: #ffffff;
}