<body>
    <section id="projects" class="py-5">
        <div class="container">
            <h2 class="section-title text-center">Projects</h2>
            <div class="row justify-content-center">
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="assets/voidblox.png" class="card-img-top" alt="Unity Game">
                        <div class="card-body">
                            <h5 class="card-title">Unity Game</h5>
                            <p class="card-text">A 3D platformer bullet hell game made in Unity. <a
                                    href="https://github.com/tdenniss/VoidBlox">In active development</a>.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="assets/gartic.png" class="card-img-top" alt="Gartic">
                        <div class="card-body">
                            <h5 class="card-title">Gartic</h5>
                            <p class="card-text">Cross-client drawing game built using Modern C++ with a custom GUI
                                library. <a href="https://github.com/bugbstrs/gartic">GitHub</a>.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="assets/tancodrom.png" class="card-img-top" alt="OpenGL Tank Range">
                        <div class="card-body">
                            <h5 class="card-title">OpenGL Tank Range</h5>
                            <p class="card-text">A battlefield simulation built with OpenGL. <a
                                    href="https://github.com/bugbstrs/tancodrom">GitHub</a>.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="assets/logic gate.png" class="card-img-top" alt="Logic Gates">
                        <div class="card-body">
                            <h5 class="card-title">A Working Computer from Logic Gates</h5>
                            <p class="card-text">A project showcasing a working computer created entirely from logic
                                gates. <a
                                    href="https://conferences.ulbsibiu.ro/icdd/2023/files/ICDD2023_Proceedings.pdf#page=226">Presentation</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>