body {
    background-color: #121212;
    color: #ffffff;
}

.name-title {
    color: #00aaff;
    /* Albastru pentru numele tau */
}

.section-title {
    color: #00aaff;
    margin-bottom: 1rem;
}

.btn-primary {
    background-color: #00aaff;
    border: none;
    transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #0077cc;
}