body {
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name-title {
    color: #00aaff;
}

.section-title {
    color: #00aaff;
    margin-bottom: 1rem;
}

.btn-primary {
    background-color: #00aaff;
    border: none;
    transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #0077cc;
}